@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.body_bady {
  animation: fadeIn 1.5s ease-in-out;
}

.body {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes blink {
  10% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info-wrapper {
  max-width: 100%;
  height: 100%;
  background: url(./img/Rectangle\ 1.jpg) no-repeat center/cover;
  & .container {
    & .info {
      & .bounty {
        margin-top: 119px;
        display: flex;
        justify-content: space-between;
        & .mars {
          & .Stickers {
            font-family: "Inter";
            margin-right: 100px;
            margin-bottom: 57px;
            justify-content: space-between;
            font-weight: 700;
            font-size: 24px;
            color: #fff;
          }
        }
      }
      & .Some_text {
        font-family: "Italiana";
        padding-top: 54px;
        width: 60%;
        font-weight: 400;
        font-size: 48px;
        color: #d9d9d9;
      }      
    }
  }
}

.header-wrapper {
  width: 100%;
  height: 1023px;
  background: url(./img/photo_2022-06-05_13-14-26\ 1.png) no-repeat center/cover;
  box-shadow: 1px -8px 0px -1px rgba(0, 0, 0, 0.1);
  &-h2 {
    width: 60%;
    font-family: "Inter";
    font-weight: 200;
    padding-top: 155;
    padding-right: 733px;
    font-size: 70px;
    color: #fff;
  }
  &-p {
    font-family: "Inter";
    padding-top: 22px;
    padding-right: 709px;
    font-weight: 300;
    font-size: 21px;
    color: #fff;
    transition: all 0.5s;
    width: 40%;
    font-weight: 300;
    font-size: 21px;
    color: #fff;
  }
  &-p:hover {
    font-family: "Italiana";
    width: 60%;
    font-size: 30px;
  }
  &-ul {
    display: flex;
    list-style-type: none;
    margin-top: 55px;

    &-li {
      font-family: "Inter";
      display: inline-block;
      margin-top: 55px;
      margin-right: 20px;
      margin-bottom: 71px;
      color: rgb(255, 255, 255);
      font-size: 24px;
      list-style-type: none;
    }
  }
}

.header_li1 {
  font-family: "Inter";
  display: inline-block;
  margin-top: 55px;
  margin-right: 20px;
  margin-bottom: 71px;
  color: rgb(179, 159, 159);
  font-size: 24px;
  list-style-type: none;
}

.header_li1:hover {
  font-family: "Italiana";
  color: #ffff;
}

.article-text {
  & .Shopping {
    margin-bottom: 40px;
    font-family: "Inter";
    text-decoration: none;
    width: 207px;
    height: 57px;
    margin-top: 33px;
    margin-left: 157px;
    font-size: 24px;
    color: #fff;
    border-radius: 17px;
    background: #b47b48;
    text-align: center;
    padding: 10px 10px;
    display: inline-block;
    transition: all 0.5s;
  }
  & .photo_yellow {
    display: flex;
    border-radius: 17px;
    background: #ebad51;
    align-items: flex-end;
  }
}

.Shopping:hover {
  padding: 20px 20px;
  border-color: #b47b48;
  font-size: 40px;
}

.photo & .eat_menu {
  & .price {
    font-family: "Inter";
    align-items: center;
    width: 30%;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
  }

  & .Name {
    font-family: "Inter";
  }

  & .headline-text {
    font-family: "Inter";
    color: #fff;
    background: #c85312;
    text-align: center;
    padding: 5px 5px;
    display: inline-block;
    transition: all 0.5s;
  }

  & .Pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
}

.photo {
  display: flex;
  margin-right: 120px;
  border-radius: 17px;
  background: #272727;
  align-items: flex-end;
}

.menu-wrapper {
  width: 100%;
  background: url(./img/Rectangle\ 25.png) no-repeat center/cover;

  .menu {
    .menu_text {
      font-family: "Inter";
      transition: all 0.5s;
      font-weight: 100;
      font-size: 64px;
      color: #fff;
      align-items: center;
    }

    .Pictures {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;

      li {
        flex-wrap: wrap;
        margin-right: 10px;
      }

      img {
        width: 100%;
      }

      .Cover {
        list-style-type: none;
        width: 48%;
      }
    }

    .eat {
      font-family: "Inter";
      margin-left: 100px;
      font-weight: 800;
      font-size: 25px;
      color: #fff;
    }

    .order {
      font-family: "Inter";
      text-align: center;
      display: inline-flex;
      margin-left: 100px;
      background: #b47b48;
      padding: 8px 8px;
      font-weight: 800;
      font-size: 25px;
      color: #fff;
      border-radius: 17px;
    }
  }
}

.quality-wrapper {
  width: 100%;
  height: 853px;
  background: url(./img/msg-1001952986540-392.jpg) no-repeat center/cover;
  & .container {
    margin-left: 150px;
    margin-right: 120px;
    & .quality {
      & .box {
        display: flex;
        height: 852px;
        border: 1px solid black;
        background: rgb(163, 157, 157);
        position: relative;
        & .bx-item {
          & .img {
            width: 275px;
            height: 284px;
          }
          & ol {
            & .li {
              font-family: "Inter";
              font-weight: 500;
              font-size: 24px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.Where-wrapper {
  width: 100%;
  background: url(./img/Rectangle\ 27.png) no-repeat center/cover;

  .container {
    margin-left: 30px;

    .question {
      font-family: "Italiana";
      padding-top: 66px;
      font-weight: 400;
      font-size: 48px;
      color: #fff;
    }

    .Where {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      &_box {
        display: flex;
        justify-content: space-between;
      }

      #img {
        margin-right: 132px;
      }

      #When_box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .question_hard {
        font-family: "Inter";
        margin-right: 81px;
        font-weight: 400;
        font-size: 40px;
        color: #fff;
      }

      .small_question {
        font-family: "Inter";
        text-decoration: none;
        padding-top: 49px;
        font-weight: 300;
        font-size: 24px;
        color: #fff;
        margin-top: 10px;
      }

      .social_network {
        font-family: "Inter";
        margin-top: 65px;
        font-weight: 300;
        font-size: 24px;
        color: #fff;
      }

      .Bekary_inst {
        font-family: "Inter";
        margin-top: 20px;
        font-weight: 300;
        font-size: 24px;
        color: #fff;
      }

      .question_easy {
        font-weight: 400;
        font-size: 40px;
        color: #fff;
      }

      .new_time {
        font-family: "Inter";
        margin-top: 40px;
        font-weight: 200;
        font-size: 24px;
        text-align: center;
        color: #fff;
      }
    }
  }
}

.page {
  width: 100%;
  height: 800px;
  background: url(./img/Group\ 49.png) no-repeat center/cover;
}
#number_hea_der {
  background-color: gray;
}

.container {
  margin-left: 150px;
  margin-right: 120px;
}

.lastname {
  margin-left: 100px;
}

.footer-wrapper {
  width: 100%;
  height: 415px;
  background: #202023;
  background: url(./img/Rectangle\ 23.png) no-repeat center/cover;

  .container {
    .footer {
      font-family: "Inter";
      color: #fff;
      padding: 10px 0;
      text-align: center;

      .left-text {
        font-family: "Inter";
        background-color: #202023;
        width: 30%;
        margin-top: 62px;
        float: left;
        text-align: center;
        font-weight: 200;
        font-size: 40px;
        color: #fff;

        &:hover {
          color: red;
        }

        .p_footer {
          font-family: "Inter";
          margin-top: 16px;
          font-weight: 300;
          font-size: 20px;
          color: #fff;

          &:hover {
            color: red;
          }
        }
      }

      .left-text_small-text {
        font-family: "Inter";
        background-color: #202023;
        display: flex;
        margin-left: 150px; // Пример, чтобы показать использование & для дочерних селекторов
        justify-content: space-between;
        margin-left: 500px; // Это дублирование стиля, возможно, это опечатка
      }

      .text_footer {
        font-family: "Inter";
        margin-right: 219px;
        margin-top: 40px;
        font-weight: 300;
        font-size: 24px;
        text-align: center;
        color: #fff;

        &:hover {
          color: blue;
        }
      }

      .right-text {
        font-family: "Inter";
        background-color: #202023;
        float: right;
        width: 15%;
        padding-right: 528px; // Пример, чтобы показать использование & для дочерних селекторов
        justify-content: space-between;
        font-size: 12px;
        margin-top: 10px;

        .import {
          margin-top: 41px;
          display: flex;

          .footer_li {
            font-family: "Inter";
            margin-left: 17px;
            margin-right: 215px;
            font-weight: 300;
            font-size: 24px;
            color: #fff;

            &:hover {
              color: yellow;
            }
          }
        }
      }

      .the_end {
        font-family: "Inter";
        color: #fff;
      }
    }
  }
}

.text_1 {
  font-family: "Inter";
  padding-top: 22px;
  padding-right: 709px;
  font-weight: 300;
  font-size: 21px;
  color: #fff;
  transition: all 0.5s;
  width: 40%;
  font-weight: 300;
  font-size: 21px;
  color: #fff;
}

.Title {
  width: 60%;
  font-family: "Inter";
  font-weight: 200;
  padding-top: 155;
  padding-right: 733px;
  font-size: 70px;
  color: #fff;
}

.Shopping:hover {
  padding: 20px 20px;
  border-color: #b47b48;
  font-size: 40px;
}

.headline-text:hover {
  font-size: 40px;
}
.Name:hover {
  font-size: 30px;
}

.Photo_frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price,
.Name,
.headline-text {
  font-family: "Inter";
  margin-left: 61px;
}

.Name {
  font-family: "Inter";
  transition: all 0.2s;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.menu-wrapper {
  width: 100%;
  height: 775px;
  background: #202023;
}

.menu-wrapper {
  width: 100%;
  height: auto;
  background: #202023;
  padding-top: 50px;
  padding-bottom: 50px;
}

.price,
.Name,
.headline-text {
  margin-left: 10px;
  margin-top: 10px;
}

.headline-text {
  color: #fff;
  background: #c85312;
  padding: 5px 10px;
  border-radius: 5px;
}

.img_photo:hover {
  border: 1px solid yellow;
  transform: scale(1.2);
}

.img_photo {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 253px;
  max-width: 294px;
}

.Quality_bekary {
  font-weight: 400;
  font-size: 64px;
  color: #fff;
}


.Where div {
  display: flex;
  justify-content: space-between;
}

#When_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu_text:hover {
  border: 40px;
}

#img {
  margin-right: 132px;
}

.question {
  font-family: "Italiana";
  padding-top: 66px;
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}

.foother_text {
  font-weight: 200;
  font-size: 40px;
  color: #fff;
}

.p_header_text {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.foother_text {
  margin-top: 62px;
  font-weight: 200;
  font-size: 40px;
  color: #fff;
}

.div_below {
  display: flex;
}

.text_below {
  margin-right: 215px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.The_very_bottom {
  margin-top: 41px;
  margin-right: 141px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.Top_of_bottom {
  display: flex;
}

.box::after {
  content: "Quality our bekary";
  font-family: "Italiana";
  position: absolute;
  color: white;
  left: 23%;
  top: 20px;
  font-size: 50px;
}

.box-item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.img {
  width: 275px;
  height: 284px;
}
.img:hover {
  animation: blink 1s infinite;
}

.ol {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  backdrop-filter: blur(36px);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  padding: 32px 4px 50px 10px;
  background: rgba(242, 242, 242, 0.3);
}

.second {
  margin-top: 80px;
  margin-left: 30px;
}

.threed {
  margin-top: 150px;
  margin-left: 90px;
}

.footer {
  font-family: "Inter";
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.left-text {
  font-family: "Inter";
  background-color: #202023;
  width: 30%;
  margin-top: 62px;
  float: left;
  text-align: center;
  font-weight: 200;
  font-size: 40px;
  color: #fff;
}

.left-text:hover {
  color: red;
}

.smoll_left_ultra_text {
  font-family: "Inter";
  background-color: #202023;
  display: flex;
  margin-left: 145px;
  font-size: 12px;
}
.TRADITIONAL_ARTISAX_BAKERY {
  margin-top: 271px;
  margin-left: 312px;
}

#img_img {
  margin-left: 739px;
}

.right-text {
  font-family: "Inter";
  background-color: #202023;
  float: right;
  width: 15%;
  padding-right: 528px;

  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}

.small-text {
  font-family: "Inter";
  font-size: 10px;
}

li {
  list-style-type: none;
}

.left-text_small-text {
  font-family: "Inter";
  background-color: #202023;
  display: flex;
  margin-left: 150px;
  justify-content: space-between;
  margin-left: 500px;
}

.import {
  margin-top: 41px;
  display: flex;
}

.p_footer {
  font-family: "Inter";
  margin-top: 16px;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.p_footer:hover {
  color: red;
}

.footer_li {
  font-family: "Inter";
  margin-left: 17px;
  margin-right: 215px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.footer_li:hover {
  color: yellow;
}

.text_footer {
  font-family: "Inter";
  margin-right: 219px;
  margin-top: 40px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
.text_footer:hover {
  color: blue;
}

.the_end {
  font-family: "Inter";
  margin-top: 86px;
  font-weight: 100;
  font-size: 20px;
  color: #fff;
  margin-top: 86px;
  margin-bottom: 44px;
}
.the_end:hover {
  color: yellow;
}

#img {
  margin-top: 44px;
}

.lastname {
  display: block;
}

.shop_now {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  padding: 5px 5px;
  background: #b47b48;
  border-radius: 17px;
}

.wrapper {
  margin-left: 150px;
  margin-right: 120px;
}

#number_hea_der {
  border-radius: 30px;
  width: 100%;
  height: 669px;
  background: #fff;
  margin-top: 117px;
  margin-left: 225px;
  margin-right: 225px;
}

.header_number {
  margin-right: 100px;
}

.img_bott {
  height: 447px;
  margin-left: 739px;
  margin-right: 84px;
}

.h1_class {
  font-weight: 200;
  font-size: 48px;
  color: #000;
}

.text_1:hover {
  font-family: "Italiana";
  width: 60%;
  font-size: 30px;
}

.Stickers:hover {
  animation: blink 1s infinite;
}

.img_div:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}
