@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin-top: 55px;
}

.header_li1 {
  display: inline-block;
  margin-top: 55px;
  margin-right: 20px;
  margin-bottom: 71px;
  color: gray;
  font-size: 24px;
  list-style-type: none;
}

.container {
  margin-left: 150px;
  margin-right: 120px;
}

.info-wrapper {
  max-width: 100%;
  height: 100%;
  background: url(./img/Rectangle\ 1.jpg) no-repeat center/cover;
}

.header-wrapper {
  width: 100%;
  height: 1023px;
  background: url(./img/photo_2022-06-05_13-14-26\ 1.png) no-repeat center/cover;
  box-shadow: 1px -8px 0px -1px rgba(0, 0, 0, 0.1);
}

.menu-wrapper {
  width: 100%;
  background: url(./img/Rectangle\ 25.png) no-repeat center/cover;
}

.quality-wrapper {
  width: 100%;
  height: 853px;
  background: url(./img/msg-1001952986540-392.jpg) no-repeat center/cover;
}

.Where-wrapper {
  width: 100%;
  background: url(./img/Rectangle\ 27.png) no-repeat center/cover;
}

.page {
  width: 100%;
  height: 669px;
  background: url("https://static.tildacdn.com/tild6362-3337-4232-b161-633062383836/07790eaaaac2b9b3e958.jpg");
}

.footer-wrapper {
  width: 100%;
  height: 351px;
  background: url(./img/Rectangle\ 23.png) no-repeat center/cover;
}

.text_1 {
  padding-top: 22px;
  padding-right: 709px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 21px;
  color: #fff;
}

.Title {
  font-weight: 200;
  padding-top: 155;
  padding-right: 733px;
  font-size: 70px;
  color: #fff;
}

.Shopping {
  text-decoration: none;
  width: 207px;
  height: 57px;
  margin-top: 33px;
  margin-left: 157px;
  font-size: 24px;
  color: #fff;
  border-radius: 17px;
  background: #b47b48;
  text-align: center;
  padding: 10px 10px;
  display: inline-block;
  transition: all .5s;
}

.Shopping:hover{
  font-size: 40px;
}

.headline-text:hover{
  font-size: 40px;
}
.Name:hover{
  font-size: 30px;
}

.photo {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.price {
  font-weight: 200;
  font-size: 24px;
  color: #fff;
}

.Photo_frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photo {
  display: flex;
  margin-right: 120px;
  border-radius: 17px;
  background: #272727;
  align-items: flex-end;
}

.photo_yellow {
  display: flex;
  border-radius: 17px;
  background: #ebad51;
  align-items: flex-end;
}

.price,
.Name,
.headline-text {
  margin-left: 10px;
}

.headline-text {
  color: #fff;
  background: #c85312;
  text-align: center;
  padding: 5px 5px;
  display: inline-block;
  transition: all .5s;
}

.Name{
  transition: all .2s;
  font-weight: 500;
font-size: 14px;
color: #fff;
}
.menu-wrapper {
  width: 100%;
  height: 775px;
  background: #202023;
}

.menu_text {
  font-family: "Inter";
  font-weight: 100;
  font-size: 64px;
  color: #fff;
  align-items: center;
}

.Pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.Pictures li {
  flex-wrap: wrap;
  margin-right: 10px;
}

.Pictures img {
  width: 100%;
}

.eat {
  margin-left: 100px;
  font-weight: 800;
  font-size: 25px;
  color: #fff;
}

.order {
  text-align: center;
  display: inline-flex;
  margin-left: 100px;
  background: #b47b48;
  padding: 8px 8px;
  font-weight: 800;
  font-size: 25px;
  color: #fff;
  border-radius: 17px;
}

.Cover {
  list-style-type: none;
  width: 48%;
}

.menu-wrapper {
  width: 100%;
  height: auto;
  background: #202023;
  padding-top: 50px;
  padding-bottom: 50px;
}

.menu_text {
  font-family: "Inter";
  flex-wrap: wrap;
  font-weight: 100;
  font-size: 64px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.photo {
  align-items: flex-start;
}

.price,
.Name,
.headline-text {
  margin-left: 10px;
  margin-top: 10px;
}

.headline-text {
  color: #fff;
  background: #c85312;
  padding: 5px 10px;
  border-radius: 5px;
}


.img_photo:hover {
  transform: scale(1.2);
}

.img_photo {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 253px;
  max-width: 294px;
}

.Quality_bekary {
  font-weight: 400;
  font-size: 64px;
  color: #fff;
}

.question {
  padding-top: 66px;
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}

.question_hard {
  margin-right: 81px;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}

.question_easy {
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}

.Where div {
  display: flex;
  justify-content: space-between;
}

.Where {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.Where_box {
  display: flex;
}

.Bekary_inst {
  margin-top: 20px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.small_question {
  text-decoration: none;
  padding-top: 49px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  margin-top: 10px;
}

.social_network {
  margin-top: 65px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.new_time {
  margin-top: 40px;
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

#When_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#img {
  margin-right: 132px;
}

.Quality_bekary {
  font-weight: 400;
  font-size: 64px;
  color: #fff;
}

.bounty {
  margin-top: 119px;
  display: flex;
  justify-content: space-between;
}

.question {
  padding-top: 66px;
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}

.question_hard {
  margin-right: 81px;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}

.question_easy {
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}

.Stickers {
  margin-right: 100px;
  margin-bottom: 57px;
  justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.foother_text {
  font-weight: 200;
  font-size: 40px;
  color: #fff;
}

.p_header_text {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.foother_text {
  margin-top: 62px;
  font-weight: 200;
  font-size: 40px;
  color: #fff;
}

.div_below {
  display: flex;
}

.text_below {
  margin-right: 215px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.The_very_bottom {
  margin-top: 41px;
  margin-right: 141px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.Top_of_bottom {
  display: flex;
}

.box {
  display: flex;
  height: 852px;
  border: 1px solid black;
  background: rgb(163, 157, 157);
  position: relative;
}
.header_li1:hover {
  border: 40px;
  color: yellow;
}


.box::after {
  content: "Quality our bekary";
  position: absolute;
  color: white;
  left: 23%;
  top: 20px;
  font-size: 50px;
}

.box-item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.img {
  width: 275px;
  height: 284px;
}

.ol {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  backdrop-filter: blur(36px);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  background: rgba(242, 242, 242, 0.3);
}

.second {
  margin-top: 80px;
  margin-left: 30px;
}

.threed {
  margin-top: 150px;
  margin-left: 90px;
}

.li {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.footer {
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.left-text {
  background-color: #202023;
  width: 30%;
  margin-top: 62px;
  float: left;
  text-align: center;
  font-weight: 200;
  font-size: 40px;
  color: #fff;
}

.smoll_left_ultra_text {
  background-color: #202023;
  display: flex;
  margin-left: 145px;
  font-size: 12px;
}

.right-text {
  background-color: #202023;
  float: right;
  width: 15%;
  padding-right: 528px;

  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}

.small-text {
  font-size: 10px;
}

li {
  list-style-type: none;
}

.left-text_small-text {
  background-color: #202023;
  display: flex;
  margin-left: 150px;
  justify-content: space-between;
  margin-left: 500px;
}

.import {
  margin-top: 41px;
  display: flex;
}

.p_footer {
  margin-top: 16px;
  background-color: #202023;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.footer_li {
  margin-right: 215px;
  background-color: #202023;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.text_footer {
  background-color: #202023;
  margin-top: 40px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.the_end {
  background-color: #202023;
  margin-top: 86px;
  font-weight: 100;
  font-size: 20px;
  color: #fff;
  margin-top: 86px;
}

#img {
  margin-top: 44px;
}

.Some_text {
  padding-top: 54px;
  width: 60%;
  font-weight: 400;
  font-size: 48px;
  color: #d9d9d9;
}

.lastname {
  display: block;
}

.shop_now {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  padding: 5px 5px;
  background: #b47b48;
  border-radius: 17px;
}

.wrapper {
  margin-left: 150px;
  margin-right: 120px;
}

#number_hea_der {
  border-radius: 30px;
  width: 100%;
  height: 669px;
  background: #fff;
  margin-top: 117px;
  margin-left: 225px;
  margin-right: 225px;
}

.img_botter {
  height: 447px;
  float: right;
  margin-right: 84px;
}

.h1_class {
  font-weight: 200;
  font-size: 48px;
  color: #000;
}

.text_1 {
  transition: all .5s;
  width: 40%;
  font-weight: 300;
  font-size: 21px;
  color: #fff;
}
.text_1:hover{
  width: 60%;
  font-size: 30px;
}

.Stickers:hover {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img_div:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}